/* ********** HERE STARTS dialog.css ****** */

#config-dialog {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 100%;
	background-color: white;
	color: black;
	z-index: 140;
	overflow-y: auto;
} 

.small-screen {
	padding: 10px;
}

#year-selection {
    position: relative;
    left: 10px;
    top: 15px;
}

#config-dialog h2 {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#config-dialog h3 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 0;
}

#config-quit-dialog, #config-quit2-dialog {
	position: absolute;
	top: 8px;
	right: 8px;
}

